.tab-list {
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.tab-list-item {
  text-align: center;
  flex: 0 0 33.3%;
  background-color: #eee;
  padding: 10px 0;
}
.tab-list-item.active {
  background-color: #734e30;
  color: #FFF;
}

.tab-contents-item {
  display: none;
}
.tab-contents-item.show {
  display: block;
}